.accordion, .menu {
    background-color: #fff;
    color: #666;
    margin: 0;
    padding: 0;
    overflow: auto;}

.accordion li {
    list-style-type: none;
}

.accordion-control{
    background-color: #303030;
    border-top: 1px solid #666;
    color: #fff;
    display: block;
    margin:0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    width: 100%;
}
.accordion-panel{
    display: none;
}

.accordion-panel p{
    margin: 20px;
}

.accordion-panel img {
    display: block;
    clear: left;}

